:root {
   /* Text colors */
    --primary-txt-cl: #757575;
    --title-txt-cl: #212121;
    --accent-txt-cl: #2196F3 ;
    --text-white: #ffffff;
    --logo-header: #000000;
    --logo-footer: #ffffff;
    /* Background */
    --primary-white-cl: #ffffff;
    --accent-bg-cl: #2196F3;
    --gray-bg-cl: #2F303A;
    --additional-gray-cl: #F5F4FA;
    --clients-gray-cl: #AFB1B8;
    /* Colors for button */
    --btn-radio-bg: #F5F4FA;
    --text-bt-cl: #ffffff;
    --active-bg-cl: #188CE8;
    /* border-bottom */
    --border-bottom-header: #ECECEC;
    --border-div: #EEEEEE;
    /* network */
    --network-notact: #AFB1B8;
}
    
body {
    font-size: 14px;
    line-height: 1.71;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;

    color: var(--primary-txt-cl);
    background-color: var(--primary-white-cl);
}

.text {
    color: #757575;

    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
    display: block;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* ========== header ========== */
/* LOGO */

.logo-link {
    color: var(--accent-txt-cl);
    font-family: Raleway, sans-serif;
      
    font-weight: 700;
    font-size: 26px;    
    line-height: 1.19; 
    text-decoration: none; 
}

.logo-header {
    color: var(--logo-header);
}

.logo-footer {
    color: var(--logo-footer);
}

.page-header {
    border-bottom: 1px solid var(--border-bottom-header);
}

.page-header .container {
    display: flex;  
}

.link.current::after {
    content: '';
    display: block;
    
    width: 100%;
    height: 4px;
    background-color: currentColor;

    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 2px;
}

/* ----навігація---- */
.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item {
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
}


.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-txt-cl);
         
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-txt-cl);
}

.site-nav-hc {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.site-nav-hc .item+.item {
    margin-left: 50px;
}


.site-nav-hc .contact {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-txt-cl);
    align-items: center;
    

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

.contact:hover,
.contact:focus {
    color: var(--accent-txt-cl);
}
.contact:hover .contacts-icon,
.contact:focus .contacts-icon {
    fill: currentColor;
}

.link.current {
    color: var(--accent-txt-cl);
}


/* ========= hero ========== */

.hero {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    background-color: var(--gray-bg-cl);
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--text-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.hero-button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    
    color: var(--text-bt-cl);
    background-color: var(--accent-bg-cl);

    font-family: inherit; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
    color: var(--text-bt-cl);
    background-color: var(--active-bg-cl);
    font-family: inherit;
}


/* ============= modal ================ */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    min-height: 581px;

    background-color: var(--primary-white-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;

}

.backdrop {
    z-index: 99;
}

.btn-close {
    background-color: var(--primary-white-cl);
    color: var(--logo-header);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    position: absolute;
    top: 8px;
    right: 8px;

    border-radius: 50%;
    border: 1px solid rgba(78, 62, 62, 0.1);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    padding: 0;
    fill: currentColor;
}

.btn-close:hover,
.btn-close:focus {
    color: var(--accent-bg-cl);
    border-color: var(--accent-bg-cl);
    fill: var(--accent-bg-cl);
    outline: none;
}

.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-txt-cl);
}

.form-list {
    margin-bottom: 20px;
}

.form-item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

 .form-item:not(:last-child) {
     margin-bottom: 10px;
 }

 .form-label {
     margin-bottom: 4px;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;
 }

.form-input {
    margin: 0;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-input.comment {
    padding: 12px 16px;
    resize: none;
}

.form-input:focus {
    outline: 1px solid var(--accent-txt-cl);
}

.icon-modal {
    position: absolute;
    top: 50%;
    left: 12px;
}

.form-input:focus ~ .icon-modal {
    fill: var(--accent-txt-cl);
}

.form-input::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.checkbox-icon {
    display: inline-block ;
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-txt-cl);
    border-radius: 4px;
}

.checkbox:checked + .checkbox-icon {
    border-color: transparent;
    /* background-color: var(--accent-bg-cl);  */
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}

.policy {
    margin-left: 5px;
    color: var(--accent-txt-cl);
}

.form-button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 52px;
    min-width: 200px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--text-white);
    background-color: var(--accent-bg-cl);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: var(--active-bg-cl);
}


/* ============ section-2 ============== */

.list-mqs {
    display: flex;
}

.item-mqs {
    width: 270px;
}
.item-mqs:not(:last-child) {
    margin-right: 30px;
}

.icon-mqs {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    min-height: 120px;
    border-radius: 4px;
    background-color: var(--additional-gray-cl);
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;  
}

.text-mqs {
    font-size: 14px;
    line-height: 1.71;
}

.section-title-minor {
    color: var(--title-txt-cl);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}

/* =========== section-3(work) ================= */

.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}

.section-title {
    color: var(--title-txt-cl);
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.list-wwd {
    display: flex;
}

.thumb-wwd {
    position: relative;

    z-index: 10;
}

.by-line-wwd {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    
    color: var(--text-white);

    padding: 27px 0px;
}

.item-wwd:not(:last-child) {
    margin-right: 30px;
}

.section-title-none {
    color: var(--title-txt-cl);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
    margin-bottom: 10px;
}
.list-title {
    color: var(--title-txt-cl);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}


.list-link {
    display: block;
    text-decoration: none;
}




/* =========== section-team ============ */
.section-team {
    background: var(--additional-gray-cl);
}

.list-team {
    display: flex;
}

.text-ourteam {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}

.worker {
    text-align: center;
    background: var(--primary-white-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.worker:not(:last-child) {
    margin-right: 30px;
}

.description-ourteam {
    padding: 30px;
}

/* ==========social-network======== */
.social-network {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: var(--network-notact);
    background-color: var(--primary-white-cl);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link:hover, 
.social-link:focus {
    color: var(--text-bt-cl); 
    background-color: var(--accent-bg-cl);
}

.social-icon {
    fill: currentColor;
}

/* ============= Clients ============== */

.clients-content .section-title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    min-height: 92px;
    border: 1px solid var(--clients-gray-cl);
    border-radius: 4px;
    color: var(--clients-gray-cl);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-bg-cl);
    color: var(--accent-txt-cl);
}

.clients-icon {
    fill: currentColor;
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}


/* ================== Portfolio ======================  */
/* ================ filter portfolio ================= */
/* Button */
.button {
    color: var(--title-txt-cl);
    background-color: var(--primary-bg-cl);
    font-family: inherit;
}


/* .button.radio {
    color: var(--title-txt-cl);
    background-color: var(--primary-bg-cl);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.radio:focus,
.button.radio:hover {
    color: var(--text-bt-cl);
    background-color: var(--accent-bg-cl);
    font-family: inherit;
}  */
.menu-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.item-btn:not(:last-child) {
    margin-right: 8px;
}

.button.radio {
    display: inline-block;
    padding: 6px 22px;
    min-width: 73px;

    color: var(--title-txt-cl);
    background-color: var(--btn-radio-bg);
    
    border-radius: 4px;
    border: 1px solid transparent;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.radio:focus,
.button.radio:hover {
    color: var(--text-bt-cl);
    background-color: var(--accent-bg-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    font-family: inherit
}

.list-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover,
.list-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* =============== Cписок ============= */

.list-prj {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.item-prj {
    width: calc(100% / 3 - 30px); 
    margin-right: 30px;
    margin-bottom: 30px;
}

.overlay-prj {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    transform: translateY(0); 

    color: var(--text-white);
    background-color: rgba(33, 150, 243, 0.9);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;  
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover .overlay,
.list-link:focus .overlay {
    outline: none;
    transform: translateY(-100%);
}

.card-prj {
    padding: 20px 24px;
}

.list-title {
    margin-bottom: 4px;
}

.card-prj {
    border-left: 1px solid var(--border-div);
    border-bottom: 1px solid var(--border-div);
    border-right: 1px solid var(--border-div);
}


/* ===========footer========= */

footer {
    background: var(--gray-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    gap: 70px;
    align-items: baseline
}

address {
    margin-top: 20px;
}

.site-nav-fc li:not(:last-child) {
    margin-bottom: 9px;
}  

.address {
    color: var(--text-bt-cl);

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    font-style: normal;
}

.network-title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-white);
}

.network-list {
    display: flex;
    gap: 10px;
}

.network-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    fill: var(--text-white);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:hover,
.network-link:focus {
    background-color: var(--accent-bg-cl);
}

.send-title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-white);
}

.send-text {
    display: block;
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    color: var(--text-white);

    padding: 15px 16px;

    text-align: left;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-form {
    display: flex;
}

.subscribe-field:focus {
    border-color: var(--accent-bg-cl);
}

.btn-subscribe {
    position: relative;
    width: 200px;
    height: 50px;

    margin-left: 12px;

    background: var(--accent-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;

    cursor: pointer;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--text-white);

    padding: 10px 28px;
    text-align: left;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-subscribe:focus,
.btn-subscribe:hover {
    color: var(--text-bt-cl);
    background-color: var(--active-bg-cl);
    font-family: inherit;
}

.subscribe-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    fill: var(--text-white);
}

/* .network-title {
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--text-white);
}

.social-network {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: var(--network-notact);
    background-color: 
} */


.social-link:hover,
.social-link:focus {
    color: var(--text-bt-cl);
    background-color: var(--accent-bg-cl);
}

.social-icon {
    fill: currentColor;
}


    /* Контакти */
.site-nav-fc .contact {
    color: var(--primary-txt-cl);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-fc .contact:hover,
.site-nav-fc .contact:focus {
    color: var(--accent-txt-cl);
}


